.vs
TownOfSuper/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
TownOfSuper/obj/Debug/netstandard2.1/TheOtherRoles.AssemblyInfo.cs
TownOfSuper/obj/Debug/netstandard2.1/TheOtherRoles.AssemblyInfoInputs.cache
TownOfSuper/obj/Debug/netstandard2.1/TheOtherRoles.assets.cache
TownOfSuper/obj/Debug/netstandard2.1/TheOtherRoles.csproj.AssemblyReference.cache
TownOfSuper/obj/Debug/netstandard2.1/TheOtherRoles.csproj.CoreCompileInputs.cache
TownOfSuper/obj/Debug/netstandard2.1/TheOtherRoles.csproj.FileListAbsolute.txt
TownOfSuper/obj/Debug/netstandard2.1/TheOtherRoles.GeneratedMSBuildEditorConfig.editorconfig
TownOfSuper/obj/Debug/netstandard2.1/TheOtherRolesGM.dll
TownOfSuper/obj/project.assets.json
TownOfSuper/obj/project.nuget.cache
TownOfSuper/obj/TheOtherRoles.csproj.nuget.dgspec.json
TownOfSuper/obj/TheOtherRoles.csproj.nuget.g.props
TownOfSuper/obj/TheOtherRoles.csproj.nuget.g.targets
TownOfSuper/bin/Debug/netstandard2.1/TheOtherRolesGM.dll
TownOfSuper/bin/Debug/netstandard2.1/TheOtherRolesGM.deps.json