TownOfSuper/obj/project.assets.json
TownOfSuper/obj/project.nuget.cache
TownOfSuper/obj/TownOfSuper.csproj.nuget.dgspec.json
TownOfSuper/obj/TownOfSuper.csproj.nuget.g.props
TownOfSuper/obj/TownOfSuper.csproj.nuget.g.targets
TownOfSuper/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.AssemblyInfo.cs
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.AssemblyInfoInputs.cache
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.assets.cache
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.csproj.AssemblyReference.cache
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.GeneratedMSBuildEditorConfig.editorconfig
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.pdb
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.GeneratedMSBuildEditorConfig.editorconfig
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.dll
TownOfSuper/bin/Debug/netstandard2.1/TownOfSuper.deps.json
TownOfSuper/bin/Debug/netstandard2.1/TownOfSuper.dll
TownOfSuper/bin/Debug/netstandard2.1/TownOfSuper.pdb
TownOfSuper/bin/Release/netstandard2.1/TownOfSuper.deps.json
TownOfSuper/bin/Release/netstandard2.1/TownOfSuper.dll
TownOfSuper/bin/Release/netstandard2.1/TownOfSuper.pdb
TownOfSuper/bin/Release/netstandard2.1/publish/0Harmony.dll
TownOfSuper/bin/Release/netstandard2.1/publish/BepInEx.Core.dll
TownOfSuper/bin/Release/netstandard2.1/publish/BepInEx.IL2CPP.dll
TownOfSuper/bin/Release/netstandard2.1/publish/Cpp2IL.Core.dll
TownOfSuper/bin/Release/netstandard2.1/publish/Gee.External.Capstone.dll
TownOfSuper/bin/Release/netstandard2.1/publish/Iced.dll
TownOfSuper/bin/Release/netstandard2.1/publish/Il2Cpp.TlsAdapter.dll
TownOfSuper/bin/Release/netstandard2.1/publish/Il2CppDumper.dll
TownOfSuper/bin/Release/netstandard2.1/publish/IndexRange.dll
TownOfSuper/bin/Release/netstandard2.1/publish/LibAssemblyUnhollower.dll
TownOfSuper/bin/Release/netstandard2.1/publish/LibCpp2IL.dll
TownOfSuper/bin/Release/netstandard2.1/publish/Mono.Cecil.dll
TownOfSuper/bin/Release/netstandard2.1/publish/Mono.Cecil.Mdb.dll
TownOfSuper/bin/Release/netstandard2.1/publish/Mono.Cecil.Pdb.dll
TownOfSuper/bin/Release/netstandard2.1/publish/Mono.Cecil.Rocks.dll
TownOfSuper/bin/Release/netstandard2.1/publish/MonoMod.RuntimeDetour.dll
TownOfSuper/bin/Release/netstandard2.1/publish/MonoMod.Utils.dll
TownOfSuper/bin/Release/netstandard2.1/publish/SemanticVersioning.dll
TownOfSuper/bin/Release/netstandard2.1/publish/System.Collections.NonGeneric.dll
TownOfSuper/bin/Release/netstandard2.1/publish/System.Collections.Specialized.dll
TownOfSuper/bin/Release/netstandard2.1/publish/System.ComponentModel.dll
TownOfSuper/bin/Release/netstandard2.1/publish/System.ComponentModel.Primitives.dll
TownOfSuper/bin/Release/netstandard2.1/publish/System.ComponentModel.TypeConverter.dll
TownOfSuper/bin/Release/netstandard2.1/publish/System.IO.FileSystem.Primitives.dll
TownOfSuper/bin/Release/netstandard2.1/publish/System.Linq.dll
TownOfSuper/bin/Release/netstandard2.1/publish/System.Reflection.TypeExtensions.dll
TownOfSuper/bin/Release/netstandard2.1/publish/TownOfSuper.deps.json
TownOfSuper/bin/Release/netstandard2.1/publish/System.Threading.dll
TownOfSuper/bin/Release/netstandard2.1/publish/TownOfSuper.pdb
TownOfSuper/bin/Release/netstandard2.1/publish/TownOfSuper.dll
TownOfSuper/bin/Release/netstandard2.1/publish/UnhollowerBaseLib.dll
TownOfSuper/bin/Release/netstandard2.1/publish/UnhollowerRuntimeLib.dll
TownOfSuper/bin/Release/netstandard2.1/publish/WasmDisassembler.dll
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.csproj.CoreCompileInputs.cache
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.csproj.FileListAbsolute.txt
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.dll
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.pdb
TownOfSuper/obj/Release/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
TownOfSuper/obj/Release/netstandard2.1/PublishOutputs.4014a93d53.txt
TownOfSuper/obj/Release/netstandard2.1/PublishOutputs.6283069267.txt
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.AssemblyInfo.cs
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.AssemblyInfoInputs.cache
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.assets.cache
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.csproj.AssemblyReference.cache
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.csproj.CoreCompileInputs.cache
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.csproj.FileListAbsolute.txt
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.deps.json
TownOfSuper/.vs