TownOfSuper/obj/project.assets.json
TownOfSuper/obj/project.nuget.cache
TownOfSuper/obj/TownOfSuper.csproj.nuget.dgspec.json
TownOfSuper/obj/TownOfSuper.csproj.nuget.g.props
TownOfSuper/obj/TownOfSuper.csproj.nuget.g.targets
TownOfSuper/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.AssemblyInfo.cs
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.AssemblyInfoInputs.cache
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.assets.cache
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.csproj.AssemblyReference.cache
TownOfSuper/obj/Debug/netstandard2.1/TownOfSuper.GeneratedMSBuildEditorConfig.editorconfig
